@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input,
input:focus,
input:focus-within {
  outline: none;
}

@layer components {
  .input-primary {
    @apply focus-within:outline-transparent;
    @apply focus:outline-transparent;
    @apply focus-within:border-2;
  }

  .input {
    @apply cursor-text;
    @apply input-bordered;
    @apply bg-transparent;
    @apply focus-within:input-primary;
  }

  .select-primary {
    @apply focus-within:outline-transparent;
    @apply focus:outline-transparent;
    @apply focus-within:border-2;
  }

  .select {
    @apply cursor-text;
    @apply select-bordered;
    @apply focus-within:select-primary;
  }

  .textarea-primary {
    @apply focus-within:outline-transparent;
    @apply focus:outline-transparent;
    @apply focus-within:border-2;
  }

  .textarea {
    @apply cursor-text;
    @apply textarea-bordered;
    @apply focus-within:textarea-primary;
  }

  .tooltip {
    --tooltip-color: #e5e7eb;
    --tooltip-text-color: #000000;
  }
}

@layer base {
  input,
  select,
  option,
  textarea,
  a,
  p,
  pre {
    @apply font-normal;
  }

  body {
    @apply size-full;
  }
}

@layer utilities {
  .btn-custom {
    @apply !h-auto;
    @apply !min-h-0;
    @apply !py-1.5;
    @apply !px-2;
    @apply !rounded-md;
    @apply !text-sm;
    @apply !font-semibold;
  }
}
