@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
  }
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea {
  font-family: inherit;
}

@layer base {
  input,
  select,
  option,
  textarea,
  a,
  p,
  pre {
    @apply font-normal;
  }

  button,
  .btn {
    @apply font-medium;
  }
}
