@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input,
select,
textarea {
  font-family: inherit;
}

@layer components {
  .input-secondary {
    @apply focus-within:outline-transparent;
    @apply focus:outline-transparent;
    @apply focus-within:border-2;
  }

  .input {
    @apply cursor-text;
    @apply input-bordered;
    @apply focus-within:input-secondary;
  }

  .select-secondary {
    @apply focus-within:outline-transparent;
    @apply focus:outline-transparent;
    @apply focus-within:border-2;
  }

  .select {
    @apply cursor-text;
    @apply select-bordered;
    @apply focus-within:select-secondary;
  }

  .textarea-secondary {
    @apply focus-within:outline-transparent;
    @apply focus:outline-transparent;
    @apply focus-within:border-2;
  }

  .textarea {
    @apply cursor-text;
    @apply textarea-bordered;
    @apply focus-within:textarea-secondary;
  }

  .btn {
    @apply rounded-xl;
  }
}

@layer base {
  input,
  select,
  option,
  textarea,
  a,
  p,
  pre {
    @apply font-normal;
  }

  html,
  body {
    @apply min-h-screen;
    @apply min-w-full;
  }
}
