.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 64px 64px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d3d6dc;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.codeMockup > pre {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0.25rem !important;
  margin: 0 !important;
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    min-width: 10px;
  }
}
