.dividerBefore::before {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: max(1px, 0.0625rem);
  height: 1.25rem;
  content: '';
  background: rgb(209 213 219);
  font-size: 0.875rem;
  line-height: 1.5;
}

.borderModal {
  border: 1px solid rgba(34, 34, 34, 0.07);
}

.borderMedium {
  border: medium;
}
