.dividerBefore::before {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: max(1px, 0.0625rem);
  height: 1.25rem;
  content: '';
  background: rgb(209 213 219);
  font-size: 0.875rem;
  line-height: 1.5;
}

.menu {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.menuOpen {
  display: block;
}

.menuClose {
  display: none;
}

.menu[data-open] .menuOpen {
  display: none;
}

.menu[data-open] .menuClose {
  display: block;
}
