.container {
  max-width: 700px;
  min-width: 400px;
  width: 60%;
  padding: 0px 64px 64px;
  margin: 0 auto 10px;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #d3d6dc;
}

.base {
  background: #f8f8fa;
  min-height: 100vh;
}

.logo {
  color: #10151b;
}
